<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#sound').bind('click', function() {
            $.getJSON('/sounds',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
        $(function() {
          $('a#birthday').bind('click', function() {
            $.getJSON('/birthday',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

<div class='container'>
    <h3>Jelly that make sound control</h3>
        <form>
            <a href=# id=sound><button class='btn btn-default'>Sound Effects</button></a>
        </form>
        <form>
            <a href=# id=birthday><button class='btn btn-default'>Birthday Mode</button></a>
        </form>
</div>
