<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#sounds').bind('click', function() {
            $.getJSON('/sounds',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
        $(function() {
          $('a#birthday').bind('click', function() {
            $.getJSON('/birthday',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
        $(function() {
          $('a#arp').bind('click', function() {
            $.getJSON('/arp',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
        $(function() {
          $('a#proto').bind('click', function() {
            $.getJSON('/proto',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
        $(function() {
          $('a#xmas').bind('click', function() {
            $.getJSON('/xmas',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>

<div class='container'>
    <h3>Jelly that make sound control</h3>
        <form>
            <a href=# id=sounds><button class='btn btn-default'>Sound Effects</button></a>
        </form>
        <form>
            <a href=# id=birthday><button class='btn btn-default'>Birthday Mode</button></a>
        </form>
        <form>
            <a href=# id=arp><button class='btn btn-default'>Arp Mode</button></a>
        </form>
        <form>
            <a href=# id=proto><button class='btn btn-default'>Proto Mode</button></a>
        </form>
        <form>
            <a href=# id=xmas><button class='btn btn-default'>Xmas Mode</button></a>
        </form>
</div>
